<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.srt.mapper.UrlDataMapper">
	<insert id="create">	
		insert into urldata (short_url, original_url)
		values(#{shortUrl},#{originalUrl})
	</insert>
	<select id = "read" resultType= "string">
		select original_url from urldata
		where short_url = #{shortUrl}
	</select>
	<select id = "check" resultType = "int">
		select count(#{originalUrl}) from urldata
		where original_url = #{originalUrl}
	</select>
</mapper>
